# GitHub Actions
.github/

# IDE
.idea/
*.iml
.vscode/
.settings/
.project
.classpath
.metadata/

# Build
target/
build/
out/

# Logs
*.log

# Test reports
test-output/
allure-results/
allure-report/

# Drivers
drivers/
